<div id="main">
<div class="container">
  <h1>Inscription à un cours</h1>
  <p>Merci de complèter le formulaire d'inscription ci-dessous. Je vous contacterai dans les prochains jours pour vous donner les informations complémentaires liées au cours que vous venez de choisir.</p>
  <div class="twocol">
    <div class="col1 contact">
      <%= form_for @contact, url: {action: "create"} do |f| %>
        <% if flash[:notice] %><p class="alert-notice"><%= flash[:notice] %></p><% end %>
        <% if flash[:error] %><p class="alert-error"><%= flash[:error] %></p><% end %>
        <%= f.text_field :cours, placeholder: 'cours', value: params[:cours_name] %>
        <%= f.text_field :date, placeholder: 'Dates', value: params[:cours_date] %>
        <%= f.text_field :firstname, placeholder: 'Prénom' %>
        <%= f.text_field :lastname, placeholder: 'Nom' %>
        <%= f.text_field :street, placeholder: 'Rue' %>
        <%= f.text_field :npa, class: 'npa', placeholder: 'NPA' %>
        <%= f.text_field :city, placeholder: 'Ville' %>
        <%= f.text_field :email, placeholder: 'Email' %>
        <%= f.text_field :phone, placeholder: 'Téléphone' %>
        <%= f.text_area :message, placeholder: 'Message' %>

        <div class="submit">
          <%= f.submit :Envoyer, class: 'submit_button btn btn-success' %>
        </div>
      <% end %>
    <div class="col2">
    </div>
    </div>
    <hr class="clear" />
  </div>

</div>
