<div class="sessions">
  <h2>ADMIN Vibraction</h2><br />
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="field"><%= f.email_field :email, :autofocus => true, placeholder: 'email' %></div>

    <div class="field"><%= f.password_field :password, placeholder: 'mot de passe' %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="remember"><%= f.check_box :remember_me %> <%= f.label 'se souvenir' %></div>
    <% end -%>

    <div><%= f.submit "Login", class: 'btn btn-info' %></div>
  <% end %>
</div>
