<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Cours : <%= @contact.cours %></p>
    <p>Date : <%= @contact.date %></p>
    <p>Nom : <%= @contact.firstname %></p>
    <p>Prénom : <%= @contact.lastname %></p>
    <p>Rue : <%= @contact.street %></p>
    <p>NPA : <%= @contact.npa %></p>
    <p>Ville : <%= @contact.city %></p>
    <p>Email : <%= @contact.email %></p>
    <p>Téléphone : <%= @contact.phone %></p>
    <p>Message: <%= @contact.message %></p>
  </body>
</html>
